Hello<%= greeting_name %>,

Please follow the link below to reset your password:

<%= UiUrlHelper.ui_url @password_reset_url %>

If you did not request this, you may safely disregard this email and your password will not be changed.
